{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>College</title>
    </head>
    <body>

        <div class="d-flex flex-row">
            <div class="p-3 bg-dark text-white" style="min-height: calc(100vh); width: 220px">
                <a href="#" class="p-2 m-2 text-white text-decoration-none">
                    <div class="d-flex flex-column align-items-center">
                        <span class="fs-3 py-3">College Name</span>
                        <img class="rounded" style="width: 100px; height: 100px; object-fit: cover;" src="{% static 'img/logo.jpg' %}"/>
                    </div>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column p-1 mb-auto">
                    <li class="p-1">
                        <a href="/dashboard/department" class="text-white text-decoration-none nav-link">Departments</a>
                    </li>
                    <li class="p-1">
                        <a href="/dashboard/class" class="text-white text-decoration-none nav-link">Classes</a>
                    </li>
                    <li class="p-1">
                        <a href="/dashboard/course" class="text-white text-decoration-none nav-link active">Courses</a>
                    </li>
                    <li class="p-1">
                        <a href="/dashboard/teacher" class="text-white text-decoration-none nav-link">Teachers</a>
                    </li>
                    <li class="p-1">
                        <a href="/dashboard/student" class="text-white text-decoration-none nav-link">Students</a>
                    </li>
                </ul>
                <hr>
            </div>

            <div class="d-flex flex-column flex-fill bd-highlight">

                <div class="bd-highlight shadow-sm" style="height: 60px;">
                    <div class="container-fluid p-2 ">
                        <div class="row">
                            <Span class="fs-3 col-11">Course Detail</Span>
                            <div class="dropdown col-1">
                                <button class="dropdown-toggle" style="border: none; background: white" type="button" id="user" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="user">
                                <li><a class="dropdown-item" href="/accounts/logout/">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-5">
                    <!--Your Code Goes Here-->
                    <form id="main_form" class="" method="POST">
                        {% csrf_token %}
                        <span class="fs-2 p-2">Course Details</span>
                        {% if messages %}
                        <div class="mx-auto alerts">

                            {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% elif message.tags == "info" %}
                                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% else %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                        {% endif %}
                        <hr>
                        <div class="d-flex flex-column m-3 p-3">
                            <div class="d-flex flex-row flex-fill">
                                <div class="m-3 flex-fill">
                                    <label class="form-label fs-5" for="{{form.name.id_for_label}}">Course Name</label>
                                    {{form.name}}
                                    
                                    {% if form.name.errors %}
                                        <span class="text-danger block mt-1">{{form.name.errors}}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="m-3 flex-fill">
                                    <label class="form-label fs-5" for="{{form.hours.id_for_label}}">Hours</label>
                                    {{form.hours}}
                                    
                                    {% if form.hours.errors %}
                                        <span class="text-danger block mt-1">{{form.hours.errors}}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-fill">
                                <div class="m-3 flex-fill">
                                    <label class="form-label fs-5" for="{{form.department.id_for_label}}">Department</label>
                                    {{form.department}}
                                    
                                    {% if form.department.errors %}
                                        <span class="text-danger block mt-1">{{form.department.errors}}</span>
                                    {% endif %}
                                </div>
                            
                            </div>
                        </div>
                    </form>

                    {% if students %}
                    <span class="fs-2 p-2">Students Optted for this course are</span>
                        <hr>
                        <table class="table-bordered table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Date of Birth</th>
                                    <th>Sex</th>
                                    <th>Course</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td><b>{{student.USN}}</b></td>
                                        <td>{{student.create_date}}</td>
                                        <td>{{student.name}}</td>
                                        <td>{{student.dob}}</td>
                                        <td>{% if student.sex == '1' %}Male {% elif student.sex == '2' %}Female {% else %}Other {% endif %}</td>
                                        <td>{{student.course}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <div class="d-flex flex-row mt-4 ms-3">
                        <div>
                            <a href="/dashboard/course"><button class="mx-2 btn btn-outline-primary">Back</button></a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </body>
</html>